@if (product$ | async; as product) {
  <mat-card>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
    <mat-card-content>
      <img [src]="product.url" />
      @if (product.description) {
        <span>{{ product.description }}</span>
      }
      @if (!product.description) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </mat-card-content>
    <mat-card-actions>
      <ngrx-workshop-stars
        [canRate]="true"
        (ratingChange)="setRating(product.id, $event)"
        [rated]="customerRating$ | async"
        [rating]="product.rating"
      >
      </ngrx-workshop-stars>
      @if (customerRating$ | async) {
        <div>Your rating</div>
      }
      <div class="space-filler"></div>
      <div class="action-buttons">
        <button mat-button type="button" (click)="back()">Back</button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addToCart(product.id)"
        >
          Add to cart
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
  <ngrx-workshop-reviews [productId]="product.id" />
} @else {
  <ngrx-workshop-spinner></ngrx-workshop-spinner>
}
